.jokeWrap {
    padding: .5em .9em;
    min-height: 10em;
    display: grid;
    place-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.25);

    
    p {
        max-width: 120ch;
    }
}
html {
    box-sizing: border-box;
}

.btn {
    border: none;
    border-radius: 10px;
    color: white;
    background: linear-gradient(95.82deg, #14759E 0%, #0EA8FF 100%);
    padding: 12px 20px;
    margin: 1em 0;
    cursor: pointer;
    font-size: 1rem;
}

.btn:hover {
    background: linear-gradient(83.81deg, #2D8FB9 -12.46%, #21AFFF 117.61%);
}

h1 {
    text-align: center;
}